<md-card class="item-card">
  <md-card-content>
    <div class="item-card-container">
      <div style="flex:0 1 60%">
        <a href="{{getItemLink()}}"><h3>{{item.summary.name}}</h3></a>
        <p>{{item.summary.bodyText}}</p>
      </div>
      <div style="flex:0 1 40%">
        <div style="display:flex;">
          <span class="item-card-value"><md-icon class="inline-icon">grade</md-icon>
            {{item.rating}}
          </span>
          <span class="item-card-value"><md-icon class="inline-icon">list</md-icon>
            {{item.rank}}
          </span>
          <span class="item-card-value"><md-icon class="inline-icon">shuffle</md-icon>
            {{item.weighting}}
          </span>
        </div>
        <div style="display:flex;">
          <span class="item-card-value"><md-icon class="inline-icon">group</md-icon>
            {{ getPlayersText() }}
          </span>
          <span class="item-card-value"><md-icon class="inline-icon">access_time</md-icon>
            {{item.playingTime}}
          </span>
          <span class="item-card-value"><md-icon class="inline-icon">thumb_up</md-icon>
            {{item.summary.thumbs}}
          </span>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>