<md-toolbar class="top-toolbar">
  <img src="assets/icon.png">
  <span>Better GeekList</span>
  <span class="example-spacer"></span>
  <span *ngIf="geekList">
    <md-input-container style='display:inline-block'>
      <input mdInput [(ngModel)]="listSearchTerm">
    </md-input-container>
    <md-icon class="action-icon" (click)="search()">search</md-icon>
  </span>
</md-toolbar>

<div class="body-container">
  <div class="body-content">

    <div *ngIf="!geekList">
      <md-input-container style='display:inline-block'>
        <input mdInput placeholder="Geeklist URL/ID" [(ngModel)]="listSearchTerm">
      </md-input-container>
      <md-icon class="action-icon" (click)="search()">search</md-icon>
    </div>

    <md-progress-bar *ngIf="searchInProgress" color="primary" mode="query"></md-progress-bar>

    <div *ngIf='errorMessage'>
      <span color='warn'>{{errorMessage}}</span>
    </div>

    <div *ngIf='geekList'>
      <h1>{{geekList.name}}</h1>
      <div>
        Filter by:
        <md-input-container style='display:inline-block'>
          <input mdInput placeholder="Name" [(ngModel)]="itemFilterTerm" (ngModelChange)="itemFilterTermChanged()">
        </md-input-container>
        <md-icon class="action-icon" (click)="clearItemFilterTerm()">close</md-icon>
      </div>
      <div>
        Sort by:
        <app-geek-list-sort-criteria *ngFor="let sortType of sortTypes" [sortType]='sortType' [currentSortType]='currentSortType'
          (sortToggled)='onSortToggled($event)'></app-geek-list-sort-criteria>
      </div>
      <app-geek-list-item *ngFor="let item of displayItems" [item]="item"></app-geek-list-item>
    </div>
  </div>
</div>