<md-toolbar>
  <span>Third Line</span>
  <span class="example-spacer"></span>
  <img src="assets/icon.png">
</md-toolbar>

<div>
  <md-input-container style='display:inline-block'>
    <input mdInput placeholder="Geeklist URL/ID" [(ngModel)]="listSearchTerm">
  </md-input-container>
  <button style='display:inline-block' md-raised-button (click)="search()"><md-icon>search</md-icon></button>
</div>

<md-progress-bar *ngIf="searchInProgress" color="primary" mode="query"></md-progress-bar>

<div *ngIf='errorMessage'>
  <span color='warn'>{{errorMessage}}</span>
</div>

<div *ngIf='geekList'>
  <span>{{geekList.name}}</span>
  <app-geek-list-item *ngFor="let item of geekList.items" [item]="item"></app-geek-list-item>
</div>